Package: love.litten.dress
Name: Dress 👗
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.14), firmware (>= 12.0)
Version: 1.0-beta
Architecture: iphoneos-arm
Description: Dress Up Your Lockscreen
Maintainer: Litten <hiya@litten.love>
Author: Litten <hiya@litten.love>
Section: Tweaks
Depiction: https://repo.litten.love/depictions/drs/index.html
SileoDepiction: https://repo.litten.love/depictions/drs/drs.json
Icon: https://repo.litten.love/depictions/drs/assets/icon.png
