<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Testers</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DRSTwitterCell</string>
			<key>label</key>
			<string>Tomer</string>
			<key>accountName</key>
			<string>tomerbuda</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DRSTwitterCell</string>
			<key>label</key>
			<string>Tinko Vialard</string>
			<key>accountName</key>
			<string>TinQ00</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DRSTwitterCell</string>
			<key>label</key>
			<string>taki</string>
			<key>accountName</key>
			<string>74k1_</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DRSTwitterCell</string>
			<key>label</key>
			<string>Ryan🌧</string>
			<key>accountName</key>
			<string>Tiny1Smurf</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DRSTwitterCell</string>
			<key>label</key>
			<string>AyanAmySSBU</string>
			<key>accountName</key>
			<string>jy126orjy126</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DRSTwitterCell</string>
			<key>label</key>
			<string>firewarm</string>
			<key>accountName</key>
			<string>firewarmm</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DRSTwitterCell</string>
			<key>label</key>
			<string>serotonin</string>
			<key>accountName</key>
			<string>exodia9610</string>
		</dict>

	</array>
	<key>title</key>
	<string>Dress</string>
</dict>
</plist>
