<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	
		<dict>
			<key>cellClass</key>
			<string>DuoTwitterCell</string>
			<key>firstLabel</key>
			<string>🌸 Litten</string>
			<key>firstAccount</key>
			<string>Litteeen</string>
			<key>secondLabel</key>
			<string>taki</string>
			<key>secondAccount</key>
			<string>74k1_</string>
			<key>height</key>
			<real>57</real>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>What Do You Want To Customize?</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Time And Date</string>
 			<key>detail</key>
 			<string>DRSTimeDateSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>timeAndDateSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>FaceID Lock</string>
 			<key>detail</key>
 			<string>DRSSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>faceIDLockSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Homebar</string>
 			<key>detail</key>
 			<string>DRSSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>homebarSub</string>
 		</dict>
		 <dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>CC Grabber</string>
 			<key>detail</key>
 			<string>DRSSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>CCGrabberSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Swipe Text</string>
 			<key>detail</key>
 			<string>DRSSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>swipeTextSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Notifications</string>
 			<key>detail</key>
 			<string>DRSSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>notificationsSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Quick Actions</string>
 			<key>detail</key>
 			<string>DRSSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>quickActionsSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Evanesco Mode</string>
 			<key>detail</key>
 			<string>DRSSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>evanescoModeSub</string>
 		</dict>

		 <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Auto Lock Duration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>label</key>
			<string>Auto Lock Duration:</string>
			<key>key</key>
			<string>customLockDuration</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>10 Seconds</string>
				<string>15 Seconds</string>
				<string>20 Seconds</string>
				<string>25 Seconds</string>
				<string>30 Seconds</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respringUtil</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Preferences</string>
			<key>action</key>
			<string>resetPrompt</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Disable Cell Method By</string>
			<key>footerText</key>
			<string>Thanks kritanta For The Pretty Twitter Cells</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DRSTwitterCell</string>
			<key>label</key>
			<string>Mr. Rager</string>
			<key>accountName</key>
			<string>AnthoPak</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DRSTwitterCell</string>
			<key>label</key>
			<string>kritanta</string>
			<key>accountName</key>
			<string>_kritanta</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contributors</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Testing</string>
 			<key>detail</key>
 			<string>DRSSubPrefsListController</string>
 			<key>DRSSub</key>
 			<string>ContributorsSub</string>
 		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Give These A Look</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Rose</string>
			<key>subtitle</key>
			<string>System Wide Haptics, Great uh-huh</string>
			<key>icon</key>
			<string>Rose.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/rse/</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Lune</string>
			<key>subtitle</key>
			<string>Let A Moon Icon Appear While In DND</string>
			<key>icon</key>
			<string>Lune.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/lne/</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Butterfly</string>
			<key>subtitle</key>
			<string>Text Selection, But Colorful</string>
			<key>icon</key>
			<string>Butterfly.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/bty/</string>
		</dict>

		<!-- Support Me -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support Me</string>
			<key>footerText</key>
			<string>Dress By Litten
Artworks By taki</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Little Donation 🌺</string>
			<key>subtitle</key>
			<string>Helps Me To Pay For My Server</string>
			<key>url</key>
			<string>https://paypal.me/Litteeen</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code 🌙</string>
			<key>subtitle</key>
			<string>Github</string>
			<key>url</key>
			<string>https://github.com/Litteeen/Dress</string>
		</dict>

		<dict>
			<key>cell</key>
			<key>PSGroupCell</key>
			<key>footerText</key>
			<string>Made With 💜</string>
			<key>isStaticText</key>
			<true/>
			<key>footerAlignment</key>
			<real>1</real>
		</dict>

	</array>
	<key>title</key>
	<string>Dress</string>
</dict>
</plist>
